<!-- <section class="pricing p5">
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">{{heading}}</h5>
                <h6 class="card-price text-center">{{price}}<span class="period">/month</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>{{single}}</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>{{storage}}</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>{{public}}</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>{{community}}</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{unlimited}}</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{dedicated}}</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{free}}</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{monthly}}</li>
                </ul>
                <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
            </div>
          </div>
        </div>
      </section> -->


      <section class="pricing py-5" >
            <!-- Free Tier -->
                  <h5 class="card-title text-muted text-uppercase text-center">{{heading}}</h5>
                  <h6 class="card-price text-center">{{price}}<span class="period">/month</span></h6>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>{{single}}</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>{{storage}}</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>{{public}}</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>{{community}}</li>
                    <li class={{mute}}><span class="fa-li"><i [ngClass]="(visible)"></i></span>{{unlimited}}</li>
                    <li class={{mute}}><span class="fa-li"><i [ngClass]="(visible)"></i></span>{{dedicated}}</li>
                    <li class={{mute}}><span class="fa-li"><i [ngClass]="(visible)"></i></span>{{free}}</li>
                    <li class={{muted}}><span class="fa-li"><i [ngClass]="(visiblity)"></i></span>{{monthly}}</li>
                  </ul>
                  <div class="text-center">
                  <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a></div>
      </section>