<!-- <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-3 mb-lg-0">
          <div class="card-body" *ngFor="let product of productData">
            <app-card [heading]="product.heading" [price]="product.price" [single]="product.single"
            [storage]="product.storage" [public]="product.public" [community]="product.community"
            [unlimited]="product.unlimited" [dedicated]="product.dedicated" [free]="product.free"
            [monthly]="product.monthly" [mute]="product.mute" [muted]="product.muted" [visible]="product.visible" [visibility]="product.visiblity">
            </app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>   -->

<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-3 mb-lg-0">
            <div class="card-body">
                <app-card heading= "Free" price= "O$" single="Single user" storage="5GB Storage" public="Unlimited Public Projects" community="Community Access" unlimited="Unlimited Private Projects" dedicated="Dedicated Phone Support" free="Free Subdomain" monthly="Monthly Status Reports" mute="text-muted" muted="text-muted" visible="fas fa-times" visiblity="fas fa-times"></app-card>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
                <app-card heading= "Plus" price= "9$" single="5 User" storage="50GB Storage" public="Unlimited Public Projects" community="Community Access" unlimited="Unlimited Private Projects" dedicated="Dedicated Phone Support" free="Free Subdomain"monthly="Monthly Status Reports" what="true" muted="text-muted" visible="fas fa-check" visiblity="fas fa-times"></app-card>
            </div>
          </div>
        </div>
 
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
                <app-card heading= "Pro" price= "49$" single="Unlimited User" storage="150GB Storage" public="Unlimited Public Projects" community="Community Access" unlimited="Unlimited Private Projects" dedicated="Dedicated Phone Support" free="Unlimited Free Subdomain"monthly="Monthly Status Reports" visible="fas fa-check" visiblity="fas fa-check"></app-card>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>

  